@font-face {
    font-family: 'SF Pro';
    src: url('Fonts/SF-PRO.TTF');
}

body {
    font-family: 'SF-Pro', sans-serif;
    height: 100vh;
    padding: 0;
    margin: 0;
}

button {
    width: 100px;
    height: 100px;
    font-family: 'SF Pro';
    font-size: large;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.02);
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.clear-container {
    width: 100%;
    display: flex;
}

#clear-btn {
    width: 205px;
    background-color: rgba(175, 56, 56, 0.767);
}

#delete-btn {
    width: 205px;
    background-color: rgba(65, 93, 168, 0.849);
}

.Calculator {
    display: flex;
    flex-direction: column;
    background-color: rgb(196, 196, 196);
    border: 2px solid black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.display {
    width: 415px;
    height: 150px;
    background-color: rgb(226, 226, 226);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
}

.values {
    width: 95%;
    height: 60%;
    font-family: inherit;
    font-weight: bold;
    font-size: 50px;
    text-align: right;
    
}

.equation {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 95%;
    height: 40%;
    font-size: 25px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}

.num-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.row {
    margin: 5px;
}

.operators-container {
    display: flex;
    flex-direction: column;
}

.operator {
    margin: 5px 5px 5px 0;
    background-color: rgb(43, 43, 43);
    color: white;
}


footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
}

.fa-github {
    color: var(--font);
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}