@font-face {
    font-family: 'SF Pro';
    src: url('Fonts/SF-PRO.TTF');
}

body {
    font-family: 'SF-Pro', sans-serif;
}
button {
    width: 50px;
    height: 50px;
    font-family: 'SF Pro';
    font-weight: bolder;
}

main {
    display: flex;
    justify-content: center;
}

.clear-container {
    width: 100%;
    display: flex;
}

#clear-btn {
    width: 105px;
}

#delete-btn {
    width: 105px;
    background-color: rgba(65, 93, 168, 0.849);
}

.Calculator {
    display: flex;
    flex-direction: column;
    background-color: rgb(196, 196, 196);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.display {
    width: 214px;
    height: 50px;
    background-color: rgb(226, 226, 226);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.values {
    width: 95%;
    height: 60%;
    font-family: inherit;
    font-weight: bold;
    font-size: 24px;
    text-align: right;
    
}

.equation {
    width: 95%;
    height: 40%;
    font-size: 15px;
    text-align: right;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}

.num-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.row {
    margin: 5px;
}

.operators-container {
    display: flex;
    flex-direction: column;
}

.operator {
    margin: 5px 5px 5px 0;
    background-color: rgb(43, 43, 43);
    color: white;
}


#clear-btn {
    background-color: rgba(175, 56, 56, 0.767);
}
